.vs/
BuildOutput/
BuildTemp/
CvGameCoreDLL.vs2008.ncb
CvGameCoreDLL.vs2013.VC.db
CvGameCoreDLL.vs2013.VC.VC.opendb
Civ_V_MutiplayerV1.0/Build/
Civ_V_MutiplayerV1.0/Civ_V_MutiplayerV1.0/CvGameCore_Expansion2.pdb
Civ_V_MutiplayerV1.0/Packages/
CvGameCoreDLL.vs2008.suo
ipch/
*.user
Shuffle_Plus/Build/
Shuffle_Plus/Packages/
Fractal_Plus/Build/
Fractal_Plus/Packages/